@media (max-width: 49rem) {
  /*Main Header */
  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }
  .main-nav-list {
    display: none;
  }
  .btn-mobile-nav {
    display: block;
  }
  .container {
    margin-left: 0.7rem;
  }
  .heading {
    text-align: center;
    font-size: 3.2rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .joining {
    gap: 3%;
  }
  .delivered-text {
    font-size: 1.3rem;
  }
  .delivered-imgs img {
    height: 3.6rem;
    width: 3.6rem;
    margin-right: -1.2rem;
  }
  .center {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.5px;
  }
  .order-logos img {
    height: 1.1rem;
  }
  .image-sizing img {
    width: 90%;
  }
  .header-container {
    grid-template-columns: 1fr;
  }
  /*How it Works */
  .how-it-works {
    padding: 3.8rem;
  }
  .grid-layout-2-order {
    grid-template-columns: 1fr;
  }
  .sub-heading {
    font-size: 1.4rem;
  }
  .next-heading {
    font-weight: 700;
    color: #333;
    font-size: 2.8rem;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .sizing-center {
    order: 2;
  }
  .number {
    font-size: 4.8rem;
  }
  .information {
    font-size: 1.8rem;
  }
  .explanation {
    font-size: 1.5rem;
  }
  .fitting {
    height: 28rem;
    margin-top: 3rem;
  }
  /*Meals */
  .grid-layout-3 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .align-meals {
    margin: 2.5rem;
  }
  .list-item {
    font-size: 0.8rem;
  }
  .varieties {
    font-size: 1.1rem;
  }
  /*PRICING */
  .grid-columns-2 {
    grid-template-columns: 1fr;
  }
  .pricing {
    background-color: #fdf2e9;
    padding: 3.6rem;
    margin-left: 0rem;
  }
  .next-heading-sub {
    font-size: 2.4rem;
    color: #333;
  }
  .pricing .explained {
    font-size: 1.5rem;
    color: #333;
  }

  .centering {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .list-item {
    font-size: 1.8rem;
    display: flex;
    justify-content: start;
    color: #594d5b;
  }
  .grid-4-column {
    grid-template-columns: 1fr;
  }
  .availability {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    gap: 2rem;
  }
  .feature-icon {
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  .feature-heading {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .feature-descriptions {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  /*Testimonial Margin-left:0.3rem*/
  .testimonals {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .testimonial {
    line-height: 0.8rem;
    font-size: 0.8rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .testimonial-container {
    padding: 0.8rem;
    margin: 0.6rem;
  }
  .gap {
    margin-bottom: 2rem;
  }
  .descriptions {
    font-size: 1.5rem;
  }
  /*form */
  .section-cta {
    margin: 1rem;
  }
  .cta {
    grid-template-columns: 1fr;
    scroll-behavior: smooth;
    height: 150vh;
    justify-content: center;
  }
  .cta-form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }
  .cta-img-box {
    height: 32rem;
    grid-row: 1;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
  }
  /*Footer */
  .footer {
    height: 300vh;
  }
  .grid-5-column {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.8rem;
    margin-left: 2.5rem;
  }
}
